<div id='leftcolumn'>
    <h2>{{ 'AdvancedCampaignReporting_Names'|translate }}</h2>
    {{ name|raw }}
    <h2>{{ 'AdvancedCampaignReporting_Sources'|translate }}</h2>
    {{ source|raw }}
    <h2>{{ 'AdvancedCampaignReporting_Mediums'|translate }}</h2>
    {{ medium|raw }}
</div>

<div id='rightcolumn'>
    <h2>{{ 'AdvancedCampaignReporting_Keywords'|translate }}</h2>
    {{ keyword|raw }}
    <h2>{{ 'AdvancedCampaignReporting_Contents'|translate }}</h2>
    {{ content|raw }}
    <h2>{{ 'AdvancedCampaignReporting_CombinedSourcesMediums'|translate }}</h2>
    {{ combinedSourceMedium|raw }}
</div>
